
:root {
    --color-primary-v5: #191d2b;
    --color-secondary-v5: #27AE60;
    --color-white-v5: #FFFFFF;
    --color-black-v5: #000;
    --color-grey0-v5: #f8f8f8;
    --color-grey-1-v5: #dbe1e8;
    --color-grey-2-v5: #b2becd;
    --color-grey-3-v5: #6c7983;
    --color-grey-4-v5: #454e56;
    --color-grey-5-v5: #2a2e35;
    --color-grey-6-v5: #12181b;
    --br-sm-2-v5: 14px;
    --box-shadow-1-v5: 0 3px 15px rgba(0,0,0.2);
}