.version5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 5fr 3fr;
      grid-template-columns: 2fr 5fr 3fr;
}

.version5 .secc1 {
  background-color: var(--color-primary-v5);
}

.version5 .secc1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.25rem 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.version5 .secc1 ul li a {
  cursor: pointer;
}

.version5 .secc1 ul li i {
  font-size: 1.5rem;
  color: var(--color-secondary-v5);
}

.version5 .secc1 ul li span {
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  color: var(--color-white-v5);
}

.version5 .secc2 {
  background-color: var(--color-primary-v5);
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.version5 .secc3 {
  background-color: var(--color-primary-v5);
}

@media screen and (max-width: 700px) {
  .version5 {
    background-color: red;
    -ms-grid-columns: 1fr 3fr 0;
        grid-template-columns: 1fr 3fr 0;
  }
  .version5 .secc3 {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .version5 {
    background-color: red;
    -ms-grid-columns: .5fr 3fr;
        grid-template-columns: .5fr 3fr;
  }
  .version5 .secc1 ul span {
    display: none;
  }
  .version5 .secc3 {
    display: none;
  }
}

.main-div-v5 {
  height: 90vh;
  width: 100vw;
  background-color: var(--color-primary-v5);
}

.main-div-v5 h1 {
  color: var(--color-black-v5);
}

.content-v5 {
  height: 90%;
  width: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  position: absolute;
}

.content-v5 .main-content-header-v5 {
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-animation: crawl 6s ease-in-out;
          animation: crawl 6s ease-in-out;
}

.content-v5 .main-content-header-v5 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.content-v5 .main-content-header-v5 p {
  color: white;
  font-weight: 500;
  font-family: 'lato';
  font-size: 2rem;
  text-align: center;
  background: -webkit-linear-gradient(white, #8e98a2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-v5 .starv5-grid {
  position: relative;
  height: 100%;
  width: 100%;
}

.content-v5 .starv5-grid .star-v5 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ecebeb;
  position: absolute;
  -webkit-animation: starLight 15s infinite linear;
          animation: starLight 15s infinite linear;
  /*box-shadow: 1px 1px 10px 10px rgb(188, 188, 188);*/
}

@-webkit-keyframes starLight {
  from {
    background-color: #d3d1d1;
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  to {
    background-color: #ecebeb;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes starLight {
  from {
    background-color: #d3d1d1;
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  to {
    background-color: #ecebeb;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes crawl {
  0% {
    opacity: 0;
    -webkit-transform: rotate(180deg) translateY(0%) translateZ(0) scale(0);
            transform: rotate(180deg) translateY(0%) translateZ(0) scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg) translateX(-50%) translateZ(0) scale(1);
            transform: rotate(0deg) translateX(-50%) translateZ(0) scale(1);
  }
}

@keyframes crawl {
  0% {
    opacity: 0;
    -webkit-transform: rotate(180deg) translateY(0%) translateZ(0) scale(0);
            transform: rotate(180deg) translateY(0%) translateZ(0) scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg) translateX(-50%) translateZ(0) scale(1);
            transform: rotate(0deg) translateX(-50%) translateZ(0) scale(1);
  }
}

.about-main-content-v5 {
  height: 100%;
}

.about-main-content-v5 .title-about {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-black-v5);
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-grey-5-v5);
}

.about-main-content-v5 .about-content-v5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.about-main-content-v5 .about-content-v5 div {
  padding: 4rem 2rem;
  color: var(--color-black-v5);
}

.about-main-content-v5 .about-content-v5 div h1 {
  padding: .1rem 0;
  text-align: center;
}

.about-main-content-v5 .about-content-v5 div h4 {
  text-align: center;
}

.about-main-content-v5 .about-content-v5 div p {
  padding: 1.5rem 1rem;
}

.about-main-content-v5 .about-content-v5 svg {
  padding: 0 0;
  width: 600px;
  height: 500px;
}
/*# sourceMappingURL=Content.css.map */