.link-v5-header{
    cursor: pointer;
    border-left: .8px solid var(--color-grey-5-v5);
    border-right: .8px solid var(--color-grey-5-v5);
    border-bottom: .5px solid var(--color-grey-5-v5);
    font-weight: 700;
}

.link-v5-header:hover{
    background-color: var(--color-thrid-v5);
}

.header-v5 nav ul{
    background-color: var(--color-primary-v5);
    color: var(--color-black-v5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 5fr 1fr;
    padding-top: 2rem;
}

.header-v5 nav ul li{
    font-family: var(--font-v5);
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1rem;
}


.header-v5 path:nth-child(1){
    stroke-dasharray: 550px;
    stroke-dashoffset: 550px;
    animation: nameDisapper 2s ease forwards .3s; 
}
.header-v5 path:nth-child(2){
    stroke-dasharray: 550px;
    stroke-dashoffset: 550px;
    animation: nameDisapper 2s ease forwards .6s;
}
.header-v5 path:nth-child(3){
    stroke-dasharray: 550px;
    stroke-dashoffset: 550px;
    animation: nameDisapper 2s ease forwards .9s;
}
.header-v5 path:nth-child(4){
    stroke-dasharray: 550px;
    stroke-dashoffset: 550px;
    animation: nameDisapper 2s ease forwards 1.2s;
}
.header-v5 path:nth-child(5){
    stroke-dasharray: 550px;
    stroke-dashoffset: 550px;
    animation: nameDisapper 2s ease forwards 1.5s;
}
.header-v5 path:nth-child(6){
    stroke-dasharray: 550px;
    stroke-dashoffset: 550px;
    animation: nameDisapper 2s ease forwards 1.7s;
}
.header-v5 path:nth-child(7){
    stroke-dasharray: 550px;
    stroke-dashoffset: 550px;
    animation: nameDisapper 2s ease forwards 2s;
}
.header-v5 path:nth-child(8){
    stroke-dasharray: 550px;
    stroke-dashoffset: 550px;
    animation: nameDisapper 2s ease forwards 2.3s;
}
.header-v5 path:nth-child(9){
    stroke-dasharray: 550px;
    stroke-dashoffset: 550px;
    animation: nameDisapper 2s ease forwards 2.6s;
}

.header-v5 svg{
    animation: namecolor .5s ease forwards 2.8s 
}

@keyframes namecolor {
    from{
        fill: transparent;
    }
    to{
        fill: #1290EC;
    }
}

@keyframes nameDisapper {
    to{
        stroke-dashoffset: 0px;
    }
}