



.main-section{
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    float: left;
    position: relative;
}


.responsive-image{
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}

.profile-pick{
    min-width: 10%;
    min-height: 10%;
    max-width: 20%;
    max-height: 20%;
    border-radius: 50%;
    top: 30%;
    left: 3rem;
    position: absolute;
}


.overlay{
    position: absolute;
    top: 49%;
    color: #ddffff;
    left: 3.5rem;
}

.overlay2{
    position: absolute;
    top: 5%;
    color: black;
    left: 20%;

}
.overlay2 h1{
    margin: .5rem;
}
.overlay2 p{
    margin: .7rem;
}

.list-examples{
    padding-left: 1.5rem;
}

@media (max-width:900px){
    .overlay{
        top: 7%;
        left: 45%;
        color: black;
    }
    .overlay2{
        top: 20%;
        color: black;
        left: 20%;
    
    }
    .profile-pick{
        top: 1%;
        left: 20%;
        min-width: 10%;
        min-height: 10%;
        max-width: 20%;
        max-height: 20%;
        border-radius: 50%;
    }
    
}

