



.main-section{
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    float: left;
    position: relative;
}


.responsive-image{
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.overlay{
    position: absolute;
    top: 50%;
}