
*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  list-style: none;
}

h1{
  text-transform: capitalize;
}

html{
  font-size: 90%;
  overflow-x: hidden;
}

body{
  background:var(--backgroundcolor);
}

@media (max-width:1200px){
  
  html{
      font-size: 75%;
  }

}

@media (max-width:450px){
  
  html{
      font-size: 65%;
  }
}

